@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif{
  font-family: "Noto Serif", serif;
  
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height:100px;
    font-size: 15px;
    margin: 0 auto;
    
    
    
    }
.navbar .menu li img{
  width: 30px;
  height: 20px;
}
.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}
li a{
  text-decoration: none;
  list-style: none;
}
 header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  height: 461px;
  margin: 100px auto;
}
.div-left{
  width: 570px;
  height:461px;
  margin-top: 180px;
}
.div-left p{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.div-right{
  width: 570px;
  margin-top: 106px;
  margin-left: 100px;
}
.section-div{
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 1140px;
  height:250px ;
  gap: 10px;
  
}
.section-div p{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.card-body{
  margin: 0 auto;
  display: flex;
  width: 1140px;
  height: 350px;
  gap: 10px;
}
.card-body .card{
  margin-top: 10px;
  height:350px;
  width: 270px;
  border-radius: 10px;
  text-align: center;
}
.card-body .card img{
  margin-top: 5px;
  height: 250px;
  width: 250px;
}
.card-body .card button{
  color: white;
  background-color: rgb(233, 90, 8);
  width: 200px;
  height: 30px;
}
.card-bottom{
  margin: 70px auto;
  display: flex;
  width: 1140px;
  height: 350px;
  gap:10px;
}
.card-bottom .card{
  margin-top: 10px;
  height:350px;
  width: 270px;
  border-radius: 10px;
  text-align: center;
}
.card-bottom .card img{
  margin-top: 5px;
  height: 250px;
  width: 250px;
}
.card-bottom .card button{
  color: white;
  background-color: rgb(233, 90, 8);
  width: 200px;
  height: 30px;
}
.main{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 597px;
  margin-top: 200px;
  margin-left:700px;
  align-items: center;
  gap: 50px;
}
.main-div-img1{
  position: static;
  width: 540px;
  height: 597px;
}
.main-div-img2{
  position: absolute;
  width: 286px;
  height: 286px;
  margin-top: -120px;
  margin-left:-180px;
}
.main-div-right{
  margin-left: 30px;
  width: 540upx;
  height:521px;
}
.banner-top{
  text-align: center;
  align-items: center;
  margin:1000px auto;
  width: 1140px;
  height:250px ;
  gap: 10px;
}
.banner-top p{
  font-size: 22px;
  color:rgba(0, 0, 0, 0.5);
}
.banner-section{
  display: flex;
  height: 500px;
  width: 1140px;
  margin-top: -1000px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  
}
.banner{
  width: 1140px;
  height:400px;
}

.banner-div1{
  display: grid;

}
.banner-div1 .banner-img1{
  position: static;
  border-radius: 20px;

}

.banner-div1 .banner-h4{
  position: absolute;
  margin-top:60px;
  color:white;
  margin-left:100px;
  
}
.banner-div2{
  margin-top: 20px;
}
.banner-div2 .banner-img2{
  position: static;
  border-radius: 20px;
}
.banner-div2 .banner-h5{
  position: absolute;
  margin-left:100px;
  color:white;
  margin-top:-120px;
}
.banner-section-img{
  position: static;
  height: 420px;
  width:700px;
  margin-right: 500px;
  border-radius: 20px;
  
}
.banner-section-h2{
  color: white;
  position: absolute;
  margin-top: -250px;
  margin-left:150px;
}

.input{
  margin-top:1000px;
  margin: 0 auto;

}
.input-div-img{
  position: static;
  height: 533px;
  width: 1440px;
  margin: 0 auto;
  }
.input-div{
  position: absolute;
  margin-top:-400px;
  margin-left:900px;
}
.input-email{
  font-size: 15px;
  height: 35px;
  width: 400px;

}
.input-button{
  margin-left:-5px;
  height: 40px;
  width: 100px;
  color: white;
  background-color: rgb(233, 90, 8);
}
.footer{
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height:348px;
  margin:0 auto ;
  
}
.footer1{
  width: 380px;
  height:284px;
  margin-top: 50px;
  text-align: left;

}
.footer2{
  display: flex;
  margin-top: 50px;
  list-style: none;
  grid-template-rows:repeat(2 1fr);
  width: 380px;
  height: 284px;
  gap: 50px;
  

}
.footer-icon{
  display: grid;
  
}
.footer-icon1{
  display: grid;
}
.footer3{
  width: 380px;
  height: 284px;
   margin-top:50px;


}
.footer3-img{
  display: flex;
  width: 30px;
  gap: 50px;
}
